/*Les couleurs*/
$primary-color:#9356DC;
$secondary-color:#FF79DA;
$tertiary-color: #99E2D0;
$quaternary-color:#008766;
$fifth-color:#7E7E7E;
$dark-grey:#353535;
$background-lightgrey:#F6F6F6;
$background-grey:#EAEAEA;
$text-white:#FFFFFF;
$text-black:#000000;
