body{
    display: flex;
    flex-direction: column;
    @include text-font;
    
}
.main-container{
    width: 100%;
    min-width: 320px;
    gap:30px;
    position: relative;
    @media screen and (min-width:1024px) {
        width: 1440px;
    }
}
main{
    display: flex;
    flex-direction: column;
}

a{
    color: inherit;
    text-decoration: none;
}